<div class="palm-group">
	<div class="palm-group-title">
		Trip Info:
	</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper trip-info-box">
				<div class="trip-info-box-left">
					Start Time: <span id="start-time" class="trip-info-text"></span>
					<br />
					Travel Time: <span id="travel-time" class="trip-info-text"></span> min
					<br />
					Walk Time: <span id="walking-time" class="trip-info-text"></span> min
					<br />
					Wait Time: <span id="waiting-time" class="trip-info-text"></span> min
				</div>
				<div class="trip-info-box-right">
					End Time: <span id="end-time" class="trip-info-text"></span>
					<br />
					Transfers: <span id="transfers" class="trip-info-text"></span>
					<br />
					Bus Fare: <span id="fare" class="trip-info-text"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="trip-list" x-mojo-element="List"></div>