<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="addstop-header">
		Add A Stop
		<div x-mojo-element="Spinner" id="addStopSpinner" class="addStopSpinner"></div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Stop ID:</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="addStopTextField" name="addStopTextField"  x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div class="title center green-header">Where do I find a Stop ID?</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="palm-body-text">The stop ID can be found on most TriMet stop signs, or use the "Find Stop" button below.</div>
			</div>
		</div>
	</div>
</div>