<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="addstop-header">
		Add A Stop
		<div x-mojo-element="Spinner" id="addStopSpinner" class="addStopSpinner"></div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Stop ID:</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="add-stop-textfield" name="add-stop-textfield"  x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="title horizontal">
	<div class="shared-left" x-mojo-element="Button" id="add-stop-button"></div>
	<div class="shared-middle" x-mojo-element="Button" id="preview-button"></div>
	<div class="shared-right" x-mojo-element="Button" id="find-stop-button"></div>
</div>


<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Find Nearby Stops</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="route-filter-textfield" name="route-filter-textfield"  x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
	   		<div class="palm-row last">
	   			<div class="palm-info-text green-text">Routes can be: 75, 33, blue, green, etc.</div>
				<div x-mojo-element="Button" id="nearby-stops-button"></div>
				<div class="palm-info-text green-text" id="getting-gps-message" style="display:none;">
					Retrieving your location. This can take a while, please be patient.
				</div>
			</div>
		</div>
	</div>	
</div>
<div x-mojo-element="Drawer" id="stops-drawer" name="stops-drawer">
	<div id="search-results-list" x-mojo-element="List"></div>
	<div id="no-matches-message" style="display:none;">
		<div class="palm-group unlabeled">
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div class="title center red-header">No Stops Found</div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="palm-body-text">There are no TriMet bus stops nearby that match the route you chose.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="no-nearby-stops-message" style="display:none;">
		<div class="palm-group unlabeled">
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div class="title center red-header">No Stops Found</div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="palm-body-text">There are no TriMet stops near you. If this seems obviously wrong, maybe the GPS is having a hard time getting your location. Try to move to where you will get a better GPS signal, i.e. outside or near a window.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
