<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="first-header">Find A Stop
	<div x-mojo-element="Spinner" id="find-stop-spinner" class="find-stop-spinner"></div></div>
</div>
<div id="route-selector-group" class="palm-group" style="display:none;">
	<div class="palm-group-title">Route:</div>
	<div class="palm-list">
		<div class="palm-row last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="route-selector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
	</div>
</div>
<div id="direction-selector-group" class="palm-group" style="display:none;">
	<div class="palm-group-title">Direction:</div>
	<div class="palm-list">
		<div class="palm-row last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="direction-selector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
	</div>
</div>
<div id="stop-selector-group" class="palm-group" style="display:none;">
	<div class="palm-group-title">Stop:</div>
	<div class="palm-list">
		<div class="palm-row last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div id="stop-selector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
	</div>
</div>