<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="first-header">
		
	</div>
</div>
<div id="stop_list" x-mojo-element="List"></div>
<div id="empty-list-message" style="display:none;">
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="title center green-header">Welcome to the TriMet Bus Tracker</div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="palm-body-text">Tap the plus sign to add a new bus stop. You can enter the stop ID number if you know it, or you can use the app to search for a stop.</div>
					<div class="palm-body-text">Use the Trip Planner to find your way from one place to another.</div>
					<div class="palm-body-text">Swipe a stop to delete it. Tap and hold on a stop to move it around.</div>
				</div>
			</div>
		</div>
	</div>
</div>