<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="first-header">
		Trimet Tracker
	</div>
</div>
<div id="stop_list" x-mojo-element="List"></div>
<div id="empty-list-message" style="display:none;">
<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div class="title center green-header">Welcome to the Trimet Bus Tracker</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="palm-body-text">Tap the plus sign to add a new bus stop. You will need the stop ID number.
				The stop ID can be found on most Trimet stop signs, or on the <a href="http://trimet.org/arrivals/index.htm">Trimet website</a>.</div>
			</div>
		</div>
	</div>
</div>