<div class="title">
	TriMet Tracker 1.4.1
</div>

<div class="palm-body-text">
	<li>
		Find nearby stops using your GPS.
	</li>
	<li>
		There are now links to schedule information for each stop.
	</li>
	<li>
		Street Car stops now link to the mobile TriMet site.
	</li>
	<li>
		Please consider a donation if you have enjoyed my app. There is a link in the menu at the top.
		Thank you everyone for using my app!
	</li>
</div>
<!--
<div class="title">
	TriMet Tracker 1.3.5
</div>

<div class="palm-body-text">
	<li>
		There is now a Trip Planner! Future updates will include getting your current location with GPS as well as Google Maps integration. 
	</li>
</div>
<div class="title">
	TriMet Tracker 1.3
</div>
<div class="palm-body-text">
	<li>
		You can now search for a stop ID from within the app, no need to visit the website.
	</li>
</div>

<div class="title">
	TriMet Tracker 1.2.5
</div>
<div class="palm-body-text">
	<li>
		Now displays detour information
	</li>
	<li>
		Shows the routes that go to each stop. (You will need to click on the stop once for them to show up)
	</li>
</div>
-->
