.stop-item {
	margin-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
}

.bus-item {

	padding-top:5px;
	padding-bottom:5px;
}

.detour-item {
	padding-bottom:5px;
}

.stop-id {
	color:green;
	float:right;
	font-size:16px;
}

.bus-routes {
	color: blue;
	font-size: 14px;
	float:right;
}

.stop-list-top-section {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

.stop-list-bottom-section {
	margin-left:5px;
	margin-right:5px;
}

.bus-list-top-section {
	margin-right:10px;
	margin-bottom:5px;
}

.bus-list-bottom-section {
	margin-right:10px;
}

.detour-description {
	
}

.stop-direction {
	float:left;
	margin-left:10px;
	font-size:14px;
}

.stop-description {
	font-size:18px;
	margin-right:10px;
}

.bus-description {
	margin-left:15px;
	font-size:17px;
}

.arrival-time {
	color:green;
	font-size:18px;
	float:right;
}

.scheduled-time {
}

.arrival-detour {
	color:red;
	font-size:14px;
	float:right;
}

.minute-tag {
	font-size:85%;
}

.green-header {
	color:green;
}

#busStopSpinner {
	
}

#has_scheduled_arrival {

}

#help-body {
	margin-left:15px;
	margin-right:15px;
}

#stop_header {
	font-size:100%;
}

#empty-list-message {
}

#addstop-buttons {
	bottom:10px;
}
