.stop_item {
	margin-left:15px;
	padding-top:10px;
	padding-bottom:5px;
	font-size:90%;
}

.bus_item {
	margin-left:15px;
	padding-top:10px;
	font-size:85%;
}

.stop_id {
	color:green;
	float:right;
	margin-right:10px;
}

.stop_description {
	
}

.arrival_time {
	float:right;
	color:green;
	margin-right:10px;
}

.minute_tag {
	font-size:85%;
}

.green-header {
	color:green;
}

#busStopSpinner {
	margin-right:0px;
}

.stop_direction {
	margin-left:15px;
	margin-right:10px;
	font-size:75%;
	
	color:black;
}

#has_scheduled_arrival {
	margin-left:15px;
	margin-right:20px;
	text-align:center;
}

#main-hdr {
	overflow:hidden;
	text-align:left;
}

#help-body {
	margin-left:15px;
	margin-right:15px;
}

#stop_header {
	font-size:100%;
}

#empty-list-message {
	margin-left:15px;
	margin-right:15px;
}

