<div class="palm-row">
	<div class="palm-row-wrapper truncating-text bus-item">
		<div class="bus-list-top-section">
			<div class="arrival-time" style="#{-arrivalTimeStyle}">#{-arrivalTime} <span class="minute-tag">min</span></div>
			<div class="bus-description truncating-text">#{-routeDescription}: </div>
		</div>
		<div class="bus-list-bottom-section">
			<div class="arrival-detour" style="#{-detourStyle}">Detour</div>
			<div class="scheduled-time subtitle palm-info-text truncating-text">Scheduled: #{-scheduledTime}</div>
		</div>
	</div>
</div>