<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
		<div x-mojo-element="Spinner" id="busStopSpinner" class="busStopSpinner"></div>
		<div id="stop_header" class="truncating-text"></div>
	</div>
	
	<div id="bus_list" x-mojo-element="List"></div>	
	<div class="palm-group" id="has_scheduled_arrival" style="display:none;">
		<div class="palm-group-title">Note:</div>
		<div class="palm-list">
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="palm-body-text">Times in <font color="red">red</font> are scheduled arrival times, not estimated.</div>
				</div>
			</div>
		</div>
	</div>
</div>